<!DOCTYPE html>

<html>
<head>
    <link href = "~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style=" margin: 0 auto; max-width: 1000px;  width: 90%" >
        @RenderBody()
    </div>
</body>
</html>
